body{
    /* width: 1440px; */
    background-color: #D5E1EF;
    padding: 100px 600px 0px;
}

.body-section{
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Outfit', 'sans-serif';
    text-align: center;
}

.qr-code-img{
    margin: 10px;
    border-radius: 10px;
}

.para{
    padding: 5px 40px 0px;
    font-weight: 700;
    line-height: 1.5;
    
}
hr{
    border-style: none;
}

.intro{
    /* width: 250px; */
    padding: 0 20px 0 ;
    font-size: 15px; 
    color: hsl(220, 15%, 55%);
    line-height: 1.5;
}